@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }

}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }

        &__skills {
            &-item {
                column-gap: 20px;
                grid-template-columns: 40px 155px;
            }
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .title {

        &_fz48 {
            font-size: 28px;
        }
    }

    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .title {

        &_fz48 {
            font-size: 26px;
        }
    }

    .humburger {
        right: 20px;
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }

    .promo {
        background: url("../img/IMG-20201226-WA0010 1.jpg") no-repeat 59%/cover;

        &__title {
            margin-top: 30px;
        }
    }
}